include ../arrow/arrow.pug
mixin pagination({ amount = 0} = { })
  .pagination.js-pagination
    ul.pagination__buttons-list
      - for (let i = 1; i <= amount; i++) {
        if i === 1
          li.pagination__button.js-pagination__button.pagination__button_active
            a.pagination__link #{i}
        else if i < 4
          li.pagination__button.js-pagination__button
            a.pagination__link(href = `/page/${i}`) #{i}
        else if i === amount 
          if i > 4
            span.pagination__ellipsis  ...
          li.pagination__button.js-pagination__button
            a.pagination__link(href = `/page/${i}`) #{i}
        else
          li.pagination__button.js-pagination__button.pagination__button_hidden 
            a.pagination__link(href = `/page/${i}`) #{i}
      - }
      li.pagination__button.pagination__button_type_arrow
        a.pagination__link(href = `/page/2`) 
          +arrow({ direction: 'right' })
    p.pagination__text 1 – 12 из 100+ вариантов аренды
