include ../textfield/textfield.pug
mixin footer({ heading = '', info = '', heading2 = '', info2 = '', refs = [] } = { })
  .footer 
    section.footer__block.footer__block_width_wide
      if heading
        h3.footer__heading #{heading}
      .footer__sign
        span.footer__logo
          include ../../assets/images/logo-icon-color.svg
        span.footer__brand
          include ../../assets/images/logo-text.svg
      if info
        p.footer__inscription #{info} 
    each block in refs
      section.footer__block.footer__block_width_slim
        h3.footer__heading #{block.caption}
        ul.footer__list
          each link in block.links
            li.footer__list-element
              a.footer__link(href = `${link.href}`) #{link.desc}
    section.footer__block.footer__block_width_wide
      if heading2
        h3.footer__heading #{heading2}
      if info2
        p.footer__inscription #{info2} 
      +textfield({ placeholder: 'Email', type: "email", arrow: 'right'})
